@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
body {
  color: #fff;
  background-color: hsl(233, 47%, 7%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  display: flex;
  justify-content: center;
  align-items: stretch;
  width: fit-content;
  max-width: 1100px;
  border-radius: 10px;
  overflow: hidden;
  margin-inline: auto;
}
.card {
  background-color: hsl(244, 38%, 16%);
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px 0 0 10px;
}
.padding-content {
  margin-top: 30px;
  margin-inline: 75px;
}

.image {
  position: relative;
}

.image img {
  flex: 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0 10px 10px 0;
}

.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #aa5cdb;
  opacity: 1;
  mix-blend-mode: multiply;
  border-radius: 0 10px 10px 0;
}

h1 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 2.2rem;
  margin-bottom: 30px;
}

.text-deco {
  color: #aa5cdb;
}

main {
  color: hsla(0, 0%, 100%, 0.75);
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  margin-bottom: 75px;
}

footer {
  display: flex;
  justify-content: space-between;
  margin-right: 140px;
  margin-left: 75px;
  margin-bottom: 30px;
}

.digits {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 1.3rem;
}

.digits-text {
  color: hsla(0, 0%, 100%, 0.6);
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.5px;
}

@media screen and (max-width: 1024px) {
  .container {
    max-width: 900px;
  }
  .card {
    max-width: 450px;
  }
  h1 {
    font-size: 2rem;
  }
  main {
    margin-bottom: 30px;
  }
  footer {
    margin-bottom: 50px;
    margin-left: 70px;
    margin-right: 100px;
  }

  .digits {
    font-size: 1.2rem;
  }
  .digits-text {
    font-size: 13px;
    letter-spacing: 0.5px;
  }
  img {
    max-width: 450px;
  }
  .pic img{
    height: max-content;
  }
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    max-width: 90%;
  }
  .card {
    height: 352.328px;
    border-radius: 0px 0px 10px 10px;
    order: 1;
  }
  .padding-content {
    margin-top: 30px;
    margin-inline: 50px;
  }
  footer {
    margin-bottom: 50px;
    margin-left: 50px;
  }
  .footer-item {
    margin-right: 30px;
  }
  img {
    height: 352.328px;
    border-radius: 10px 10px 0px 0px;
  }
  .image-overlay {
    border-radius: 10px 10px 0px 0px;
  }
}

@media screen and (max-width: 480px) {
  .container {
    align-items: center;
    max-width: 80%;
  }
  .card {
    max-width: 100%;
  }
}

@media screen and (max-width: 425px) {
  .card {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .padding-content {
    margin-top: 30px;
    margin-inline: 25px;
    text-align: center;
  }

  h1 {
    font-size: 2rem;
    margin-bottom: 25px;
  }

  main {
    margin-bottom: 25px;
  }

  footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-left: 40px;
    margin-right: 40px;
  }

  .footer-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
  }

  .digits {
    margin-bottom: 5px;
    font-size: 1.5rem;
  }

  .image img {
    width: 100%;
    height: auto;
    max-height: 200px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
  }

  .image-overlay {
    border-radius: 10px 10px 0 0;
  }
}
